@model Department
@{
	ViewData["Title"] = "Create";
}

<h1>Add New Department</h1>
@* <form action="/department/create" method="post">
	<input type="number" name="DeptId" placeholder="Enter DeptId" /><br />
	<input type="text" name="DeptName" placeholder="Enter DeptName" /><br />
	<input type="number" name="Capacity" placeholder="Enter Capacity" /><br />
	<input type="submit" value="Add" class="btn btn-success" />
</form> *@

<!--      Use Tag Helper (asp-for)        -->
@* <form  href="/department/create" method="post"> *@
@* <form  method="post"> <!-- Automatically after click on Add button, will send request to server same as current URL request but with (Post) method => Post http:localhost:3040/department/create --> *@
<form asp-controller="department" asp-action="create">
	<!-- Automatically after click on Add button, will send request to server same as current URL request but with (Post) method => Post http:localhost:3040/department/create -->
	<label asp-for="DeptId" class="col-form-label">Id</label><br />
	<input class="form-control-sm" asp-for="@Model.DeptId" placeholder="Enter DeptId" /><span class="text-danger" asp-validation-for="DeptId"></span><br /><br />

	<label asp-for="DeptName" class="col-form-label">Name</label><br />
	<input class="form-control-sm" asp-for="@Model.DeptName" placeholder="Enter DeptName" /><span class="text-danger" asp-validation-for="DeptName"></span><br /><br />

	<label asp-for="Capacity" class="col-form-label">Capacity</label><br />
	<input class="form-control-sm" asp-for="@Model.Capacity" placeholder="Enter Capacity" /><span class="text-danger" asp-validation-for="Capacity"></span><br /><br />

	<input type="submit" value="Add" class="btn btn-success" />
</form>
@section scripts {
	<partial name="_ValidationScriptsPartial" />
}
