@model IEnumerable<Department>;//To Control/prevent edit on data returned from controller
@{
	ViewData["Title"] = "Index";
}

<table class="table table-bordered table-hover">
	<thead>
	<th>Id</th>
	<th>Name</th>
	<th>Capacity</th>
	<th>Actions</th>
	<th>Details</th>
	</thead>
	<tbody>
		@if (Model == null || Model.Count() == 0)
		{
			<tr>
				<td colspan="4" align="center">No Departments Found</td>
			</tr>
		}
		else
		{
			@for (int i = 0; i < Model.Count(); i++)
			{
				<tr>
					<td>@Model.ElementAt(i).DeptId</td>
					<td>@Model.ElementAt(i).DeptName</td>
					<td>@Model.ElementAt(i).Capacity</td>
					<td></td>
					<td>
						@* <a class="btn btn-info" href="/department/details/@Model.ElementAt(i).DeptId">Details</a> *@
						<!--  Use Tag Helper -->
						<a class="btn btn-info" asp-controller="department" asp-action="details" asp-route-id="@Model.ElementAt(i).DeptId">Details</a>
					</td>
				</tr>
			}
		}
	</tbody>
</table>

