@model Student
@{
	ViewData["Title"] = "InvalidDeptNoEdit";
}

<h1 class="alert alert-danger">There is no department with id (@Model.DeptNo)</h1>
<a class="btn btn-success" asp-action="edit" asp-route-id="@Model.Id">Return</a>
