@{
	// Layout = "_TestLayout";
	ViewBag.Title = "DetailsView";
}

@* <!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Details</title>
	<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
	<h1 class="alert alert-danger">Hello From Details() Action In TestLayout Controller</h1>
</body>
</html> *@

@* use _TestLayout View *@
<h1 class="alert alert-danger">Hello From Details() Action In TestLayout Controller</h1>
@* @section sec1 {

	<h2>End Of Details View Body</h2>
} *@