@{
	// Layout = "_TestLayout";
	ViewBag.Title = "IndexView";
}

@* <!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
	<h1 class="alert alert-success">Hello From Index() Action In TestLayout Controller</h1>
</body>
</html> *@

@* Use _TestLayout View *@
<h1 class="alert alert-success">Hello From Index() Action In TestLayout Controller</h1>
@* RenderSection() in the layout view *@
@* @section sec1 {

	<h2>End Of IndexView Body</h2>
} *@