@model Course
@{
	ViewData["Title"] = "Add";
}

<h1>Add New Course</h1>
<form method="post">
	<input type="hidden" asp-for="Id" />

	<label class="col-form-label" asp-for="CrsName">Name</label><br />
	<input class="form-control-sm" asp-for="CrsName" placeholder="Enter Course Name!" /><span class="text-danger" asp-validation-for="CrsName"></span><br /><br />

	<label class="col-form-label" asp-for="CrsDuration">Duration</label><br />
	<input class="form-control-sm" asp-for="CrsDuration" placeholder="Enter Duration In Hours!" /><span class="text-danger" asp-validation-for="CrsDuration"></span><br /><br />

	<input type="submit" class="btn btn-success" value="Add" />
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}