@model Course
@{
	ViewData["Title"] = "Details";
}

<h1 class="text-center"><span class="text-primary">@Model.CrsName</span> Course Details</h1>
<table class="table table-bordered table-hover text-center">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Duration</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>@Model.Id</td>
			<td>@Model.CrsName</td>
			<td>@Model.CrsDuration H</td>
		</tr>
	</tbody>
</table>
<div class="d-flex justify-content-center mt-4">
	<a asp-action="index" class="btn btn-primary px-5">Return</a>
</div>


